---
import Layout from '../../layouts/Layout.astro';
import { supabase } from '../../supabase.ts';

const { id } = Astro.params;

const { data, error } = await supabase.storage.from('photos').list(id, {
  limit: 100,
  offset: 0,
  sortBy: { column: 'name', order: 'asc' },
});

console.log(data, 'what are this');
const photos = data!.map(({ name }) => name);
const base =
  'https://jcdyjcfdsysgfpyqjuob.supabase.co/storage/v1/object/public/photos/';
---

<Layout title="Welcome to Posts!">
  <main class="p-4 m-auto w-4/5">
    <h1 class="text-8xl font-bold leading-none my-4">Welcome to {id}</h1>
    <a
      class="p-3 border border-slate-300 rounded-md w-2/5 text-violet-700 bg-violet-50 mb-4"
      href="/">{`<- go back`}</a
    >
    <div class="mt-6">
      {photos.map((name) => <img src={`${base}/${id}/${name}`} />)}
    </div>
  </main>
</Layout>
