---
import Upload from '../components/Upload.astro';
import List from '../components/List.astro';
import Layout from '../layouts/Layout.astro';
import { supabase, getPosts, uploadImages } from '../supabase.ts';

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData();
    const name = data.get('name');
    const photos = data.getAll('photo');

    // @todo - this will be needed when the folders are a level deeper
    // const id = crypto.randomUUID();
    const id = name;

    const photoArr = Array.isArray(photos) ? photos : [photos];

    await Promise.all(await uploadImages(id, photoArr));

    return Astro.redirect(`/posts/${id}`);
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}

// fix this
const posts = await getPosts();
---

<Layout title="Welcome to Astro.">
  <main class="p-4 m-auto w-4/5">
    <h1 class="text-8xl font-bold leading-none my-4">Welcome to <span class="text-gradient">Astphro</span></h1>
      <Upload />
      <List posts={posts.data} />
  </main>
</Layout>

<style>
  main {
    max-width: calc(100% - 2rem);
    line-height: 1.6;
  }
</style>
